<template name='remote'>
  <div class="ui center aligned basic segment">
    <img class="ui big centered image" src="/Roti.png" id="imgLogo">
    <h3 class="ui horizontal divider header">
      <i class="fitted mobile icon"></i>
      Move your phone or use buttons bellow
    </h3>
    <div class="ui huge icon buttons">
      <button class="ui button" id="left"><i class="arrow left icon"></i></button>
      <button class="ui button" id="up"><i class="arrow up icon"></i></button>
      <button class="ui button" id="down"><i class="arrow down icon"></i></button>
      <button class="ui button" id="right"><i class="arrow right icon"></i></button>
    </div>
  </div>
</template>
